$b-color: black;
$border-color: white;
$font-color:white;
$borderRadius:20px;

.body {
    background-image:url('./Background.png');
}

#popup {
    position:absolute;
    bottom: 100px;
    width: 400px;
    height: 300px;
    border: 2px solid $border-color;
    padding: 20px;
    border-radius:$borderRadius;
    background-color: $b-color;
    color: $font-color;
}
#paused {
    text-align: center;
    font-size: 2em;
    width: 150px;
    height:50px;
    position:absolute;
    top: 250px;
    left: 400px;
    border: 2px solid $border-color;
    border-radius:$borderRadius;
    background-color:$b-color;
    color:$font-color;
}

#game {
    display:flex;
    font-size: 2.3em;
    align-items:center;
    justify-content:space-around;
}
#game select {
    font-size: 0.6em;
    border-radius: 30px;
    padding: 10px;
}
#game div {
    margin: 0px 90px;
}
h2 {
    color:white;
}
canvas {
    border-radius: 50px;
    background-image: url('./img/background.png');
    box-shadow: 10px 10px 10px rgb(120, 120, 120);
}
#click  {
    border-radius:100px;
    background:linear-gradient(0deg, rgb(255, 229, 35), rgb(255, 164, 17) 40%, rgb(255, 77, 0));
    transition:1s;
}
#click:hover {
    box-shadow: 5px 5px 10px $b-color;
}
#click img {
    width:300px;
    height:auto;
    padding: 10px;
}

#overlay {
    display:flex;
    flex-direction: column;
    align-items:center;
    background-color: rgba(0,0,0,0.5);
    width: 100vw;
    height: 100vh;
}
#name {
    justify-content:center;
    align-items:center;
    padding: 20px;
    width:300px;
    height:auto;
    font-family: monospace;
    background-color:$b-color;
    color:$font-color;
    border-radius: $borderRadius;

}
